<div class="product__card-placeholder">
  <figure>
    {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </figure>
  <div class="product__card-placeholder-desc">
    <p>Vendor</p>
    <a href="#">Title</a>
    <p>0.00</p>
  </div>
  {% render 'wishlist-button' %}
</div>