<div class="contact__form-container">
  {% form 'contact' %}
    {% if form.errors %}
      <div>
        {% render 'icon-faled' %}
        <p>Oh no ! Message not sent.</p>
      </div>
      <ul>
        {% for error in form.errors %}
          <li><span>{{ form.errors.messages[error] }}</span></li>
        {% endfor %}
      </ul>
    {% elsif form.posted_successfully? %}
      {% render 'icon-success' %}
      <p>Message sent successfull</p>
    {% endif %}

    <label for="contact_name">Name</label>
    <input type="text" name="contact[name]" placeholder="Name" id="contact_name">

    <label for="contact_email">Email</label>
    <input type="email" name="contact[email]" placeholder="Email" id="contact_email">

    <label for="contact_message">Message</label>
    <textarea name="contact[body]" id="contact_message" placeholder="Message"></textarea>

    <input type="submit" value="Submit">
  {% endform %}
</div>

{% schema %}
{
  "name": "Contact form",
  "presets": [
    {
      "name": "Contact form"
    }
  ]
}
{% endschema %}