<div class="contact__form-container">
  {% if section.settings.contact_form_title != blank %}
      <h2>{{ section.settings.contact_form_title }}</h2>
  {% endif %}

  {% form 'contact' %}
    {% if form.errors %}
      <div>
        {% render 'icon-failed' %}
        <p>Oh no ! your comment was not posted</p>
      </div>
      <ul>
        {% for error in form.errors %}
          <li><span>{{ form.errors.messages[error] }}</span></li>
        {% endfor %}
      </ul>
    {% elsif form.posted_successfully? %}
      {% render 'icon-success' %}
      <p>Comment is posted successfully</p>
    {% endif %}

    <label for="contact_name">Name</label>
    <input type="text" name="contact[name]" placeholder="Name" id="contact_name">

    <label for="contact_email">Email</label>
    <input type="email" name="contact[email]" placeholder="Email" id="contact_email">

    <label for="contact_message">Message</label>
    <textarea name="contact[body]" id="contact_message" placeholder="Message"></textarea>

    <button type="submit">Submit</button>
  {% endform %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const urlParams = new URLSearchParams(window.location.search);
    const hasErrors = urlParams.has("form_type") && !urlParams.has("contact_posted");

    if (hasErrors && !sessionStorage.getItem("formRefreshed")) {
      sessionStorage.setItem("formRefreshed", "true");
      location.reload();
    } else {
      sessionStorage.removeItem("formRefreshed"); // Reset after successful form load
    }
  });
</script>

{% schema %}
{
  "name": "Contact form",
  "settings": [
    {
      "type": "text",
      "id": "contact_form_title",
      "label": "Contact form title",
    }
  ],
  "presets": [
    {
      "name": "Contact form"
    }
  ]
}
{% endschema %}