<div>
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    <h1>{{ collection.title }}</h1>
    <div class="products__grid">
      {% for product in collection.products %}
        {% render 'product-card', product: product%}
      {% else %}
        <p>There are no products inside this collection.</p>
      {% endfor %}
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>


{% stylesheet %}
  .products__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
{% endstylesheet %}


{% schema %}
{
  "name": "Template Collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "label": "Number of products per page",
      "default": 6
    }
  ]

}
{% endschema %}