
<div>
  <h1>{{ section.settings.title }}</h1>
  <p>{{ section.settings.subtext }}</p>
  <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
</div>

{% schema %}
{
  "name": "Template 404",
  "tag" : "section",
  "class": "flex items-center justify-center text-center py-7 h-screen",
  "settings": [
      {
          "type": "text",
          "id": "title",
          "default": "404",
          "label": "404 Heading Title"
      },
      {
          "type": "text",
          "id": "subtext",
          "default": "The Page you looking for is not found",
          "label": "404 Subtext Title"
      },
      {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
      },
      {
          "type": "text",
          "id": "button_text",
          "default": "Back to Home",
          "label": "Button Text"
      }
    ]
}
{% endschema %}